<!DOCTYPE html>
<html lang="en" ng-app="cartView">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="cartView.js"></script>
</head>
<body>
    <div ng-controller="Cart">
        <table border="1">
            <tr>
                <th>Produkt ID</th>
                <th>Preis der Position</th>
                <th>Menge</th>
                <th></th>
            </tr>
            <tr>
                <td class="product_id">{{orders._embedded.orderList[0].items[0].product.id}}</td>
                <td class="price">{{orders._embedded.orderList[0].items[0].product.price}}</td>
                <td class="quantity">{{orders._embedded.orderList[0].items[0].count}}</td>
                <td class="itemSubtotal">{{orders._embedded.orderList[0].items[0].subTotal}}</td>
            </tr>
            <tr>
                <td class="product_id">{{orders._embedded.orderList[0].items[1].product.id}}</td>
                <td class="price">{{orders._embedded.orderList[0].items[1].product.price}}</td>
                <td class="quantity">{{orders._embedded.orderList[0].items[1].count}}</td>
                <td class="itemSubtotal">{{orders._embedded.orderList[0].items[1].subTotal}}</td>
            </tr>
            <tr>
                <!--        <td></td>-->
                <!--        <td></td>-->
                <td colspan="3">Zwischensumme</td>
                <td id="subtotal">{{orders._embedded.orderList[0].subTotal}}</td>
            </tr>
            <tr>
                <td>Rabattcode</td>
                <!--        <td></td>-->
                <td class="code" colspan="2">{{orders._embedded.orderList[0].vouchers[0].code}}</td>
                <td class="discount">{{orders._embedded.orderList[0].vouchers[0].effect}}</td>
            </tr>
            <tr>
                <td>Rabattcode</td>
                <!--        <td></td>-->
                <td class="code" colspan="2">{{orders._embedded.orderList[0].vouchers[1].code}}</td>
                <td class="discount">{{orders._embedded.orderList[0].vouchers[1].effect}}</td>
            </tr>
            <tr>
                <!--        <td></td>-->
                <!--        <td></td>-->
                <td colspan="3">Gesamtsumme</td>
                <td class="total">{{orders._embedded.orderList[0].cartTotal}}</td>
            </tr>
        </table>
    </div>
</body>
</html>